@import layouts.accountsLayout
@import helper._
@import components.commons._
@(
  f: play.api.data.Form[controllers.formfactories.AccountPasswordFormData],
  account: Account
)(
  implicit req: RequestHeader,
  p: MessagesProvider,
  flash: Flash
)

@left = {
  <a
    class="btn btn-default btn-xs menu-item"
    href="@routes.AccountController.show(f.data("id").toLong)"
  >
    Cancel
  </a>
}

@right = { <button type="submit" class="btn btn-success btn-xs menu-item">Submit</button> }

@accountsLayout("Reset Password") {
  @container {
    @whereAmI(Seq(
      Location(None, "All accounts", Some(routes.AccountController.list().url)),
      Location(Some("Account"), account.fullName, Some(routes.AccountController.show(account.id.value).url)),
      Location(None, "Reset Password", None)
    ))
  }

  @page() {
    @container {
      @form(routes.AccountController.updatePassword(f.data("id").toLong)) {
        @CSRF.formField
        @pageMenu(Some(left), Some(right))

        <div class="page-title">Reset Password</div>

        @smallContainer {
          <div class="panel panel-default">
            <div class="panel-body">

              @if(f.globalErrors) {
                @alert("danger") {
                  @errors(f.globalErrors, p)
                }
              }

              <div class="form-group">
                <label for="newPassword">New password</label>
                <input name="newPassword" id="newPassword" type="password" class="form-control" value="@f.data("newPassword")" />
                @errors(f.errors("newPassword"), p)
              </div>

              <div class="form-group">
                <label for="passwordConfirmation">Confirm Password</label>
                <input name="passwordConfirmation" id="passwordConfirmation" type="password" class="form-control" value="@f.data("passwordConfirmation")" />
                @errors(f.errors("passwordConfirmation"), p)
              </div>

              <input type="hidden" name="id" value="@f.data("id").toLong" />
            </div>
          </div>
        }
      }
    }
  }
}
