@import layouts.accountsLayout
@import helper._
@import components.commons._
@(
  f: play.api.data.Form[controllers.formfactories.AccountDetailsFormData]
)(
  implicit req: RequestHeader,
  p: MessagesProvider,
  flash: Flash
)

@left = {
  <a
    class="btn btn-default btn-xs menu-item"
    href="@routes.AccountController.show(f.data("id").toLong)"
  >
    Cancel
  </a>
}

@right = { <button type="submit" class="btn btn-success btn-xs menu-item">Submit</button> }

@accountsLayout("Edit Account Details") {
  @container {
    @whereAmI(Seq(
      Location(None, "All accounts", Some(routes.AccountController.list().url)),
      Location(Some("Account"), f.data("fullName"), Some(routes.AccountController.show(f.data("id").toLong).url)),
      Location(None, "Edit Details", None)
    ))
  }

  @page() {
    @container {
      @form(routes.AccountController.updateDetails(f.data("id").toLong)) {
        @CSRF.formField
        @pageMenu(Some(left), Some(right))

        <div class="page-title">Edit Details</div>

        @smallContainer {
          <div class="panel panel-default">
          <div class="panel-body">
            @if(f.globalErrors) {
              @alert("danger") {
                @errors(f.globalErrors, p)
              }
            }

            <div class="form-group">
              <label for="fullName">Full Name</label>
              <input name="fullName" id="fullName" type="text" class="form-control" value="@f.data("fullName")" />
              @errors(f.errors("fullName"), p)
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input name="email" id="email" type="text" class="form-control" value="@f.data("email")" />
              @errors(f.errors("email"), p)
            </div>

            <div class="form-group">
              <label>Role</label>
              <div>
                <input type="radio" name="role" value="Student" @if(f.data("role") == "Student"){checked}> Student &nbsp;&nbsp;
                <input type="radio" name="role" value="Administrator" @if(f.data("role") == "Administrator"){checked}> Administrator &nbsp;&nbsp;
                <input type="radio" name="role" value="Manager" @if(f.data("role") == "Manager"){checked}> Manager
              </div>
              @errors(f.errors("role"), p)
            </div>

            <input type="hidden" name="id" value="@f.data("id").toLong" />
          </div>
        </div>
        }
      }
    }
  }
}
