@(
  enrollment: models.Enrollment,
  department: models.Department,
  program: models.Program,
  plan: models.Plan,
  training: models.Training,
  trainingPlan: models.TrainingPlan,
  trainingSession: models.TrainingSession,
  account: models.Account,
  bills: Seq[(Bill, String, Option[Double])],
  dueAmount: Double
)(
  implicit req: RequestHeader, flash: Flash
)

@import layouts.accountsLayout
@import components.commons._

@left = {
  <a class="btn btn-success btn-xs menu-item" href="@routes.SessionController.show(department.id.value, program.id.value, plan.id.value, training.id.value, trainingPlan.id.value, trainingSession.id.value)">
    <span class="fa fa-arrow-circle-left"></span> Session
  </a>

  <a class="btn btn-success btn-xs menu-item" href="@routes.AccountController.show(account.id.value)">
    <span class="fa fa-arrow-circle-left"></span> Account
  </a>
}

@right = {
  <a
    class="btn btn-success btn-xs menu-item"
    @if(trainingSession.status.toString != "Finished"){
      href="@routes.BillController.newBill(department.id.value, program.id.value, plan.id.value, training.id.value, trainingPlan.id.value, trainingSession.id.value, account.id.value, enrollment.id.value)"
    }else{
      disabled
    }
  >
    New Bill
  </a>
}

@accountsLayout("Enrollment details") {
  @container {
    @whereAmI(Seq(
      Location(None, "All departments", Some(routes.DepartmentController.list().url)),
      Location(Some("Department"), department.title, Some(routes.DepartmentController.show(department.id.value).url)),
      Location(Some("Program"), program.title, Some(routes.ProgramController.show(department.id.value, program.id.value).url)),
      Location(Some("Plan"), plan.title, Some(routes.PlanController.show(department.id.value, program.id.value, plan.id.value).url)),
      Location(Some("Training"), training.title, Some(routes.PlanController.showTrainingPlan(department.id.value, program.id.value, plan.id.value, training.id.value, trainingPlan.id.value).url)),
      Location(Some("Session"), trainingSession.title, Some(routes.SessionController.show(department.id.value, program.id.value, plan.id.value, training.id.value, trainingPlan.id.value, trainingSession.id.value).url)),
      Location(Some("Account"), account.fullName, Some(routes.AccountController.show(account.id.value).url)),
      Location(Some("Enrollment"), enrollment.id.value.toString, None)
    ))
  }

  @page(title = Some("Enrollment details"), menuLeft = Some(left), menuRight = Some(right)) {
    @container {
      <div class="panel panel-default">
        <div class="panel-body">
          <div><label>Notes</label> &nbsp; <span>@enrollment.notes.getOrElse("Not Set")</span></div>
        </div>
      </div>

      <div class="panel panel-default sm-table" style="margin-top: 0px;">
        <div class="panel-body">
          @if(bills.size == 0) { <span>No bills in this enrollment</span> } else {
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Bills</th>
                  <th>Amount</th>
                  <th>Due amount</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                @for(b <- bills) {
                  <tr>
                    <td>
                      <a href="@routes.BillController.show(department.id.value, program.id.value, plan.id.value, training.id.value, trainingPlan.id.value, trainingSession.id.value, account.id.value, enrollment.id.value, b._1.id.value)">
                        @b._2
                      </a>
                    </td>

                    <td>@currency(b._1.amount)</td>

                    <td>
                      @if((b._1.amount.toDouble - b._3.getOrElse(0.0)) < 0){
                        @currency(0)
                      } else {
                        @currency(b._1.amount.toDouble - b._3.getOrElse(0.0))
                      }
                    </td>

                    <td>
                      @if((b._1.amount.toDouble - b._3.getOrElse(0.0)) <= 0){Paid} else {Not Paid}
                    </td>

                    <td>
                      <div style="text-align: right">
                        <a
                           class="btn btn-success btn-xs menu-item"
                           href="@routes.PrinterController.printBill(b._1.id.value)"
                           target="popup"
                           onclick="window.open('@routes.PrinterController.printBill(b._1.id.value)','popup','status=1,width=600,height=600,scrollbars=1'); return false;"
                        >
                          <span class="fa fa-file-pdf-o"></span> Print Bill
                        </a>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          }
        </div>
      </div>
    }
  }
}
